/*************************************************|
| Container                                       |
*************************************************/

@include component(container) {

  @extend .cf;
  padding: 0 $basepadding;

  @include bp($landscapetablet) {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0;
    width: 90%;
  }

  @include bp($desktop) {
    width: 85%;
  }

  @include option(narrow) {

    @include bp($landscapetablet) {
      margin: 0 auto;
      max-width: $narrow-max-width;
      padding: 0;
      width: 90%;
    }
  }

  @include option(tablet-ignore) {

    @include bp($tablet) {
      max-width: none;
      margin: 0;
      width: auto;
      padding: 0;
    }
  }
}
