@include component(header) {
  @extend .cf;
  background: url('/assets/img/header-background-mobile.jpg') center;
  height: 140px;
  background-size: cover;

  @include bp($landscapetablet) {
    background: url('/assets/img/header-background.jpg') center;
  }

  @include part(account-link) {
    color: $white;
  }

  @include part(login-form) {
    @include rgba-background($black, 0.1);
    padding: 10px 20px;
  }

  @include part(button-container) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include bp($desktop) {
      right: 0;
      left: auto;
      transform: translate(0, -50%);
    }
  }

  @include part(relative-container) {
    position: relative;
    height: 100%;
  }

  @include part(button) {
    margin-right: 10px;

    @include option(log-out) {
      margin-right: 0;
      background: $palette_d;
      cursor: pointer;
    }

    @include option(log-in) {
      background: $palette_c;
    }
  }
}
