@include component(password-field) {

  @include part(input-container) {
    position: relative;
  }

  @include part(show-button) {
    position: absolute;
    right: 20px;
    padding: 0 10px;
    cursor: pointer;
    box-sizing: border-box;
    top: 50%;
    transform: translateY(-50%);

    &:after {
      content: '\f070';
      font-family: 'FontAwesome';
      font-size: 1.5rem;
    }

    @include option(shown) {

      &:after {
        content: '\f06e';
      }
    }
  }
}
