﻿@{
}
<header class="header">


    @inject SignInManager<ApplicationUser> SignInManager
    @inject UserManager<ApplicationUser> UserManager

    <div class="header__relative-container container">
        @if (SignInManager.IsSignedIn(User))
        {

            <div class="header__button-container">
                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="header__login-form">
                            <a class="header__account-link" asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                            <button type="submit" class="header__button button --log-out">Log out</button>
                </form>
            </div>
        }
        else
        {
            <div class="header__button-container">
                <a asp-controller="Account" class="header__button button --sign-up" asp-action="Register">Sign up</a>
                <a asp-controller="Account" class="header__button button --log-in" asp-action="Login">Login</a>
            </div>
        }

    </div>
</header>