﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | RingRing | The affordable instant callback tool</title>
    <link rel="icon" type="image/png" href="/favicon.png" />

    <environment include="Development">
        <link rel="stylesheet" href="~/assets/styles/css/bloc.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/assets/styles/css/bloc.min.css"
              asp-fallback-href="~/assets/styles/css/bloc.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
    </environment>
</head>
<body>
    @await Html.PartialAsync("_Header")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - DarwinDigital.RingRing</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/assets/js/dist/bloc.js"></script>
        <script src="http://localhost:50097/Script/31d87a4f-651c-454b-b8eb-e2c2441e7368/ringring.js"></script>
        <script>
            var ringring_backgroundColor = "2DB9FF";
            var ringring_phoneColor = "000";
            var ringring_clientId = "31d87a4f-651c-454b-b8eb-e2c2441e7368";
        </script>
    </environment>
    <environment exclude="Development">
        <script src="~/assets/js/dist/bloc.min.js"></script>
        <script src="http://localhost:50097/Script/31d87a4f-651c-454b-b8eb-e2c2441e7368/ringring.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
