 /*************************************************|
| Breakpoints                                     |
*************************************************/

$bigmobile                         : 500px;
$tablet                            : 760px;
$landscapetablet                   : 960px;
$desktop                           : 1260px;

/*************************************************|
| Colours                                         |
*************************************************/

$white                         	  : #fff;
$black							  : #000;
$grey                             : #ccc;
$dark-grey                        : #2f2f2f;
$darker-grey                      : #1d1d1d;
$light-grey                       : #404040;
$lighter-grey                     : #464646;
$even-lighter-grey                : #6b6b6b;
$superlight-grey                  : #292929;
$offwhite                         : #dcdcdc;

$palette_a                        : #E37B40;
$palette_b                        : #46B29D;
$palette_c                        : #DE5B49;
$palette_d                        : #324D5C;
$palette_e                        : #F0CA4D;

$gradient-palette-a-b             : linear-gradient(312deg, $palette_a, $palette_b);
$gradient-grey                    : linear-gradient(124deg, $dark-grey, $black);

/*************************************************|
| Font Settings - sizes in px                     |
*************************************************/

$basefont                          : 'Univers-Light', sans-serif;
$headingfont                       : 'TiemposHeadlineLight', sans-serif;
$boldfont                          : 'Univers', sans-serif;
$displayfont                       : 'GraphikSemibold', sans-serif;
$italicfont                        : 'GraphikSemibold', sans-serif;
$numberfont                        : 'GraphikSemibold', sans-serif;

$basefontsize                      : 14;
$lineheight                        : 20;
$headersizes                       : 3, 2.25, 1.5, 1.313, 1.125, 1;
$headermargins                     : 0.563, 0.625, 1.313, 1.313, 1.313, 0.75;

$basefontcolor                     : $dark-grey;
$headingcolor                      : $dark-grey;

/*************************************************|
| Container Variables                             |
*************************************************/

$max-width                         : 1400px;
$narrow-max-width                  : 800px;
$basepadding__mobile               : 14px;
$basepadding                       : 28px;
$largepadding                      : 1.8em;
$gutter                            : 3;

/*************************************************|
| Transition Times                                |
*************************************************/
$transition_time                   : 0.3s;
