﻿@model ChangeSettingsViewModel
@{
    ViewData["Title"] = "Change settings";
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ButtonBackgroundColour"></label>
                <input asp-for="ButtonBackgroundColour" class="form-control jscolor" data-jscolor="{hash:true}" />
                <span asp-validation-for="ButtonBackgroundColour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumberForCallback"></label>
                <input asp-for="PhoneNumberForCallback" class="form-control" />
                <span asp-validation-for="PhoneNumberForCallback" class="text-danger"></span>
            </div>
            
            <div id="opening-hours__react-root" data-initialData="@Model.OpeningHours"></div>
            <button type="submit" class="btn btn-default">Update settings</button>
        </form>
    </div>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
